/*Nav bar styling*/
 * {
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #0F298B;
    font-family: 'Space Grotesk', sans-serif;
}
.nav-ul #logo {
    float: left;
    padding-right: 300px;
    font-family: 'Oleo script';
}

#navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.nav-ul {
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "SpaceGrotesk", sans-serif;
    padding: 5px 15px;
    opacity: 1;
}

.nav-ul li {
    display: flex;
    flex-direction: row;
    align-items: right;
}

.button {
    background-color: #0F298B;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
#Prod-center {
    text-align: center;
}

#navigation-container2 {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 8px 0 0 rgba(0,0,0,0.2);
}

.nav-ul2 {
    position: absolute;
    top: 450px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #0F298B;
}

.nav-ul2 li {
    display: flex;
    flex-direction: row;
    align-items: right;
    padding: 40px;
    color: #0F298B;
}

.arrow {
    border: solid #0F298B;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.fa-play-circle {
    color: #0F298B;
    padding: 10px;
}
  
/*hero section */
.hero-container {
    display: flex;
}
.hero-words {
    padding-right: 20px;
    padding-top: 0;
}
.hero-words2 {
    padding: 20px;
}

.hero-words h1 {
    padding: 2px;
    color: #0F298B;
}

.hero-words button {
    background-color: #0F298B;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.hero-image {
    padding-top: 10px;
}

.card-description2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 0;
    
}
.card-desc-container:hover{
    color: yellow;
}
.image-card2 img {
    object-fit: cover;
}
.image-card2:hover {
    opacity: 0.2;
}

.feat-section {
    text-align: center;
}
/*card description*/

.card-desc-container{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.card-description {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 300px;
    padding: 20px;
    text-align: center;
}
.image-card img {
    text-align: center;
}

/*Card testamonials*/
  .card-testa-container {
    display: flex;
    padding: 10px;
    width: 100%;
  }

  .card-testamonials {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 20px;
  }
  
  .card-testatmonials:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /*.container {
    padding: 2px 16px; */

.footer-container {
    background-color: #0F298B;
    
    padding-left: 0;
}

.footer {
    
    background-color: #0F298B;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding-left: 0px;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

#first-heading {
    font-family: Oleo script;
}

.footer-heading footer p {
    padding: 0;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.last-btn {
    float: right;
    overflow: hidden;
    background-color: #0F298B;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
ul {
    list-style-type: none;
}